.pcr-shortcode,
.pcr-shortcode * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    font-family: "Arial", sans-serif;
}

.pcr-shortcode .cf:before,
.pcr-shortcode .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.pcr-shortcode .cf:after {
    clear: both;
}

.pcr-shortcode .cf {
    *zoom: 1;
}

.pcr-shortcode {
    border: 1px solid #ccc;

    padding: 10px 15px;
    background-color: #fff;
}

.pcr-shortcode .field {
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
}

.pcr-shortcode .field input {
    width: 60%;
}

.pcr-shortcode .field select {
    width: 40%;
    max-width: 40%;
}

.pcr-shortcode .field input,
.pcr-shortcode .field select {
    max-height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    padding: 5px 15px;
    font-size: 14px;
}

.pcr-shortcode .field select {
    border-left: 0;
}

.pcr-shortcode .actions {
    margin-top: 10px;
}

.pcr-shortcode .actions a[btn] {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

.pcr-shortcode .single-check a[btn] {
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    float: right;
    padding: 0 20px;
    color: #fff;
    background-color: #222;
    min-width: 100px;
    text-align: center;
    margin-left: 10px
}

.pcr-shortcode .single-check .field {
    margin-bottom: 0;
}

.pcr-shortcode .single-check input {
    width: 100%;
}

.pcr-shortcode .actions a[btn="lacak-resi"] {
    float: right;
    padding: 0 20px;
    color: #fff;
    background-color: #222;
}